<!-- Header -->
	<header id="header" class="alt">
		<h1><a href="{{ site.baseurl }}/index.html">GIGI+INGRESS</a>  There.</h1>
		<nav id="nav">
			<ul>
				<li><a href="{{ site.baseurl }}/index.html">Home</a></li>
				<li><a href="{{ site.baseurl }}/blog">Blog</a></li>
				<li><a href="{{ site.baseurl }}/about.html">About</a></li>
			        <li>
					    <a href="" class="icon fa-angle-down">Links</a>
					    <ul>
						   <li><a href="http://www.gigiwangs.com">Primary</a></li>
						   <li><a href="http://www.ingressplus.com">Ingress</a></li>
						   <li><a href="http://www.jellykitty.com">JellyKitty</a></li>
<!--						<li> <a href="">Submenu</a>
							<ul>
								<li><a href="#">Option One</a></li>
								<li><a href="#">Option Two</a></li>
								<li><a href="#">Option Three</a></li>
								<li><a href="#">Option Four</a></li>
							</ul>
						</li>
-->						
					</ul>
				</li>
			</ul>
		</nav>
	</header>
